In [1]:
import pandas as pd

In [2]:
file = '../weather_csv/stPaulIsland.csv'

In [4]:
stpaul = pd.read_csv(file)
stpaul

       month  mean
0    1951-01  -4.3
1    1951-02  -1.2
2    1951-03  -4.5
3    1951-05   3.7
4    1951-06   6.4
..       ...   ...
791  2017-08   9.8
792  2017-09   7.7
793  2017-10   4.6
794  2017-11   4.1
795  2017-12  -0.1

[796 rows x 2 columns]

In [5]:
st = stpaul['month'].tolist()
st

['1951-01',
 '1951-02',
 '1951-03',
 '1951-05',
 '1951-06',
 '1951-08',
 '1951-09',
 '1951-10',
 '1951-11',
 '1951-12',
 '1952-01',
 '1952-02',
 '1952-03',
 '1952-04',
 '1952-05',
 '1952-06',
 '1952-07',
 '1952-08',
 '1952-09',
 '1952-10',
 '1952-11',
 '1952-12',
 '1953-01',
 '1953-02',
 '1953-03',
 '1953-04',
 '1953-05',
 '1953-06',
 '1953-07',
 '1953-08',
 '1953-09',
 '1953-10',
 '1953-11',
 '1953-12',
 '1954-01',
 '1954-02',
 '1954-03',
 '1954-04',
 '1954-05',
 '1954-06',
 '1954-07',
 '1954-08',
 '1954-09',
 '1954-10',
 '1954-11',
 '1954-12',
 '1955-01',
 '1955-02',
 '1955-03',
 '1955-04',
 '1955-05',
 '1955-06',
 '1955-07',
 '1955-08',
 '1955-09',
 '1955-10',
 '1955-11',
 '1955-12',
 '1956-01',
 '1956-02',
 '1956-03',
 '1956-04',
 '1956-05',
 '1956-06',
 '1956-07',
 '1956-08',
 '1956-09',
 '1956-10',
 '1956-11',
 '1956-12',
 '1957-01',
 '1957-02',
 '1957-03',
 '1957-04',
 '1957-05',
 '1957-06',
 '1957-07',
 '1957-08',
 '1957-09',
 '1957-10',
 '1957-11',
 '1957-12',
 '1958-01',
 '1958-02',
 '1958-03',
 '1958-04',
 '1958-05',
 '1958-06',
 '1958-07',
 '1958-08',
 '1958-09',
 '1958-10',
 '1958-11',
 '1958-12',
 '1959-01',
 '1959-02',
 '1959-03',
 '1959-04',
 '1959-05',
 '1959-06',
 '1959-07',
 '1959-08',
 '1959-09',
 '1959-10',
 '1959-11',
 '1959-12',
 '1960-01',
 '1960-02',
 '1960-03',
 '1960-04',
 '1960-05',
 '1960-06',
 '1960-07',
 '1960-08',
 '1960-09',
 '1960-10',
 '1960-11',
 '1960-12',
 '1961-01',
 '1961-02',
 '1961-03',
 '1961-04',
 '1961-05',
 '1961-06',
 '1961-07',
 '1961-08',
 '1961-09',
 '1961-10',
 '1961-11',
 '1961-12',
 '1962-01',
 '1962-02',
 '1962-03',
 '1962-04',
 '1962-05',
 '1962-06',
 '1962-07',
 '1962-08',
 '1962-09',
 '1962-10',
 '1962-11',
 '1962-12',
 '1963-01',
 '1963-02',
 '1963-03',
 '1963-04',
 '1963-05',
 '1963-06',
 '1963-07',
 '1963-08',
 '1963-09',
 '1963-10',
 '1963-11',
 '1963-12',
 '1964-01',
 '1964-02',
 '1964-03',
 '1964-04',
 '1964-05',
 '1964-06',
 '1964-07',
 '1964-08',
 '1964-09',
 '1964-10',
 '1964-11',
 '1964-12',
 '1965-01',
 '1965-02',
 '1965-03',
 '1965-04',
 '1965-05',
 '1965-06',
 '1965-07',
 '1965-08',
 '1965-09',
 '1965-10',
 '1965-11',
 '1965-12',
 '1966-01',
 '1966-02',
 '1966-03',
 '1966-04',
 '1966-05',
 '1966-06',
 '1966-07',
 '1966-08',
 '1966-09',
 '1966-10',
 '1966-11',
 '1966-12',
 '1967-01',
 '1967-02',
 '1967-03',
 '1967-04',
 '1967-05',
 '1967-06',
 '1967-07',
 '1967-08',
 '1967-09',
 '1967-10',
 '1967-11',
 '1967-12',
 '1968-01',
 '1968-02',
 '1968-03',
 '1968-04',
 '1968-05',
 '1968-06',
 '1968-07',
 '1968-08',
 '1968-09',
 '1968-10',
 '1968-11',
 '1968-12',
 '1969-01',
 '1969-02',
 '1969-03',
 '1969-04',
 '1969-05',
 '1969-06',
 '1969-07',
 '1969-08',
 '1969-09',
 '1969-10',
 '1969-11',
 '1969-12',
 '1970-01',
 '1970-02',
 '1970-03',
 '1970-04',
 '1970-05',
 '1970-06',
 '1970-07',
 '1970-08',
 '1970-09',
 '1970-10',
 '1970-11',
 '1970-12',
 '1971-01',
 '1971-02',
 '1971-03',
 '1971-04',
 '1971-05',
 '1971-06',
 '1971-07',
 '1971-08',
 '1971-09',
 '1971-10',
 '1971-11',
 '1971-12',
 '1972-02',
 '1972-03',
 '1972-04',
 '1972-05',
 '1972-06',
 '1972-07',
 '1972-08',
 '1972-09',
 '1972-10',
 '1972-12',
 '1973-01',
 '1973-02',
 '1973-03',
 '1973-05',
 '1973-06',
 '1973-07',
 '1973-08',
 '1973-09',
 '1973-10',
 '1973-11',
 '1973-12',
 '1974-01',
 '1974-02',
 '1974-03',
 '1974-04',
 '1974-05',
 '1974-06',
 '1974-07',
 '1974-08',
 '1974-09',
 '1974-10',
 '1974-11',
 '1974-12',
 '1975-01',
 '1975-02',
 '1975-03',
 '1975-04',
 '1975-05',
 '1975-06',
 '1975-07',
 '1975-11',
 '1975-12',
 '1976-02',
 '1976-03',
 '1976-09',
 '1976-12',
 '1977-02',
 '1977-03',
 '1977-07',
 '1977-08',
 '1977-09',
 '1977-10',
 '1977-11',
 '1978-01',
 '1978-02',
 '1978-03',
 '1978-04',
 '1978-06',
 '1978-10',
 '1978-11',
 '1978-12',
 '1979-01',
 '1979-02',
 '1979-03',
 '1979-04',
 '1979-05',
 '1979-06',
 '1979-07',
 '1979-08',
 '1979-09',
 '1979-10',
 '1979-11',
 '1979-12',
 '1980-01',
 '1980-02',
 '1980-04',
 '1980-05',
 '1980-06',
 '1980-07',
 '1980-08',
 '1980-09',
 '1980-10',
 '1980-11',
 '1980-12',
 '1981-01',
 '1981-02',
 '1981-03',
 '1981-04',
 '1981-05',
 '1981-06',
 '1981-07',
 '1981-08',
 '1981-10',
 '1981-11',
 '1981-12',
 '1982-01',
 '1982-02',
 '1982-03',
 '1982-04',
 '1982-05',
 '1982-06',
 '1982-07',
 '1982-08',
 '1982-09',
 '1982-10',
 '1982-11',
 '1982-12',
 '1983-01',
 '1983-02',
 '1983-03',
 '1981-10',
 '1981-11',
 '1981-12',
 '1982-01',
 '1982-02',
 '1982-03',
 '1982-04',
 '1982-05',
 '1982-06',
 '1982-07',
 '1982-08',
 '1982-09',
 '1982-10',
 '1982-11',
 '1982-12',
 '1983-01',
 '1983-02',
 '1983-03',
 '1983-04',
 '1983-05',
 '1983-06',
 '1983-07',
 '1983-08',
 '1983-09',
 '1983-10',
 '1983-11',
 '1983-12',
 '1984-01',
 '1984-02',
 '1984-03',
 '1984-04',
 '1984-05',
 '1984-06',
 '1984-09',
 '1984-10',
 '1984-11',
 '1984-12',
 '1985-01',
 '1985-02',
 '1985-03',
 '1985-04',
 '1985-05',
 '1985-06',
 '1985-07',
 '1985-08',
 '1985-09',
 '1985-10',
 '1985-11',
 '1985-12',
 '1986-01',
 '1986-02',
 '1986-03',
 '1986-04',
 '1986-05',
 '1986-06',
 '1986-07',
 '1986-08',
 '1986-09',
 '1986-10',
 '1986-11',
 '1986-12',
 '1987-01',
 '1987-02',
 '1987-03',
 '1987-04',
 '1987-05',
 '1987-06',
 '1987-07',
 '1987-08',
 '1987-09',
 '1987-10',
 '1987-11',
 '1987-12',
 '1988-01',
 '1988-02',
 '1988-03',
 '1988-04',
 '1988-05',
 '1988-06',
 '1988-07',
 '1988-08',
 '1988-09',
 '1988-10',
 '1988-11',
 '1988-12',
 '1989-01',
 '1989-02',
 '1989-03',
 '1989-04',
 '1989-05',
 '1989-06',
 '1989-07',
 '1989-08',
 '1989-09',
 '1989-10',
 '1989-11',
 '1989-12',
 '1990-01',
 '1990-02',
 '1990-03',
 '1990-04',
 '1990-05',
 '1990-06',
 '1990-07',
 '1990-08',
 '1990-09',
 '1990-10',
 '1990-11',
 '1990-12',
 '1991-01',
 '1991-02',
 '1991-03',
 '1991-04',
 '1991-05',
 '1991-06',
 '1991-07',
 '1991-08',
 '1991-09',
 '1991-10',
 '1991-11',
 '1991-12',
 '1992-01',
 '1992-02',
 '1992-03',
 '1992-04',
 '1992-05',
 '1992-06',
 '1992-07',
 '1992-08',
 '1992-09',
 '1992-10',
 '1992-11',
 '1992-12',
 '1993-01',
 '1993-02',
 '1993-03',
 '1993-04',
 '1993-05',
 '1993-06',
 '1993-07',
 '1993-08',
 '1993-09',
 '1993-10',
 '1993-11',
 '1993-12',
 '1994-01',
 '1994-02',
 '1994-03',
 '1994-04',
 '1994-05',
 '1994-06',
 '1994-07',
 '1994-08',
 '1994-09',
 '1994-10',
 '1994-11',
 '1994-12',
 '1995-01',
 '1995-02',
 '1995-03',
 '1995-04',
 '1995-05',
 '1995-06',
 '1995-07',
 '1995-08',
 '1995-09',
 '1995-10',
 '1995-11',
 '1995-12',
 '1996-01',
 '1996-02',
 '1996-03',
 '1996-04',
 '1996-05',
 '1996-06',
 '1996-07',
 '1996-08',
 '1996-09',
 '1996-10',
 '1996-11',
 '1996-12',
 '1997-01',
 '1997-02',
 '1997-03',
 '1997-04',
 '1997-05',
 '1997-06',
 '1997-07',
 '1997-08',
 '1997-09',
 '1997-10',
 '1997-11',
 '1997-12',
 '1998-01',
 '1998-02',
 '1998-03',
 '1998-04',
 '1998-05',
 '1998-06',
 '1998-07',
 '1998-08',
 '1998-09',
 '1998-10',
 '1998-11',
 '1998-12',
 '1999-01',
 '1999-02',
 '1999-03',
 '1999-04',
 '1999-05',
 '1999-06',
 '1999-07',
 '1999-08',
 '1999-09',
 '1999-10',
 '1999-11',
 '1999-12',
 '2000-01',
 '2000-02',
 '2000-03',
 '2000-04',
 '2000-05',
 '2000-06',
 '2000-07',
 '2000-08',
 '2000-09',
 '2000-10',
 '2000-11',
 '2000-12',
 '2001-01',
 '2001-02',
 '2001-03',
 '2001-04',
 '2001-05',
 '2001-06',
 '2001-07',
 '2001-08',
 '2001-09',
 '2001-10',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-02',
 '2002-03',
 '2002-04',
 '2002-05',
 '2002-06',
 '2002-07',
 '2002-08',
 '2002-09',
 '2002-10',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-02',
 '2003-03',
 '2003-04',
 '2003-05',
 '2003-06',
 '2003-07',
 '2003-08',
 '2003-09',
 '2003-10',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2004-10',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-02',
 '2005-03',
 '2005-04',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2005-10',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-05',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2006-10',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2007-10',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2008-10',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2009-10',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12']

In [8]:
month = []
year = []
for data in st:
    y = data[0:4]
    m = data[5:7]
    year.append(y)
    month.append(m)
#print(year)
#print(month)

In [10]:
time = pd.DataFrame({"year": year, "month":month})
time

     year month
0    1951    01
1    1951    02
2    1951    03
3    1951    05
4    1951    06
..    ...   ...
791  2017    08
792  2017    09
793  2017    10
794  2017    11
795  2017    12

[796 rows x 2 columns]

In [11]:
mean = stpaul['mean']

In [12]:
merge_df = time.merge(mean,left_index=True, right_index=True)
merge_df

     year month  mean
0    1951    01  -4.3
1    1951    02  -1.2
2    1951    03  -4.5
3    1951    05   3.7
4    1951    06   6.4
..    ...   ...   ...
791  2017    08   9.8
792  2017    09   7.7
793  2017    10   4.6
794  2017    11   4.1
795  2017    12  -0.1

[796 rows x 3 columns]

In [14]:
final_merge = merge_df.set_index(["year","month"])
final_merge.head(24)

            mean
year month
1951 01     -4.3
     02     -1.2
     03     -4.5
     05      3.7
     06      6.4
     08      9.4
     09      6.9
     10      3.0
     11      1.4
     12     -0.2
1952 01     -0.1
     02     -0.2
     03     -2.9
     04     -3.0
     05      2.0
     06      4.2
     07      6.7
     08      7.9
     09      6.8
     10      4.3
     11      1.7
     12     -2.9
1953 01     -4.3
     02     -7.3